Dobberman.Phone/Service References/DobbermanService/DobbermanService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dobberman.cloudapp.net/Services/DobbermanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TAUP2C.Dobberman.WebRole.Services" />
  <xs:element name="GetReportsByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportsByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TAUP2C.Dobberman.WebRole.Services" minOccurs="0" name="GetReportsByUserIdResult" nillable="true" type="q1:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportsByAuthorityId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportsByAuthorityIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TAUP2C.Dobberman.WebRole.Services" minOccurs="0" name="GetReportsByAuthorityIdResult" nillable="true" type="q2:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReportsWithLocation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReportsWithLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TAUP2C.Dobberman.WebRole.Services" minOccurs="0" name="GetAllReportsWithLocationResult" nillable="true" type="q3:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuthorities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuthoritiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TAUP2C.Dobberman.WebRole.Services" minOccurs="0" name="GetAllAuthoritiesResult" nillable="true" type="q4:ArrayOfAuthority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortedAuthorities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortedAuthoritiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TAUP2C.Dobberman.WebRole.Services" minOccurs="0" name="GetSortedAuthoritiesResult" nillable="true" type="q5:ArrayOfAuthority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthoritiesByCategoryId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthoritiesByCategoryIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TAUP2C.Dobberman.WebRole.Services" minOccurs="0" name="GetAuthoritiesByCategoryIdResult" nillable="true" type="q6:ArrayOfAuthority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TAUP2C.Dobberman.WebRole.Services" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q7:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TAUP2C.Dobberman.WebRole.Services" minOccurs="0" name="report" nillable="true" type="q8:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewReportResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TAUP2C.Dobberman.WebRole.Services" minOccurs="0" name="user" nillable="true" type="q9:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewAuthority">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TAUP2C.Dobberman.WebRole.Services" minOccurs="0" name="authority" nillable="true" type="q10:Authority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewAuthorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewAuthorityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TAUP2C.Dobberman.WebRole.Services" minOccurs="0" name="category" nillable="true" type="q11:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewCategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>