Dobberman.Phone/Service References/DobbermanService/DobbermanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DobbermanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dobberman.cloudapp.net/Services/DobbermanService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dobberman.cloudapp.net/Services/DobbermanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dobberman.cloudapp.net/Services/DobbermanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TAUP2C.Dobberman.WebRole.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDobbermanService_GetReportsByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportsByUserId" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_GetReportsByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_GetReportsByAuthorityId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportsByAuthorityId" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_GetReportsByAuthorityId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportsByAuthorityIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_GetAllReportsWithLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReportsWithLocation" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_GetAllReportsWithLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReportsWithLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_GetAllAuthorities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthorities" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_GetAllAuthorities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthoritiesResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_GetSortedAuthorities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSortedAuthorities" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_GetSortedAuthorities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSortedAuthoritiesResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_GetAuthoritiesByCategoryId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthoritiesByCategoryId" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_GetAuthoritiesByCategoryId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthoritiesByCategoryIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_CreateNewReport_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewReport" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_CreateNewReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewReportResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_CreateNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUser" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_CreateNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_CreateNewAuthority_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewAuthority" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_CreateNewAuthority_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewAuthorityResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_CreateNewCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCategory" />
  </wsdl:message>
  <wsdl:message name="IDobbermanService_CreateNewCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IDobbermanService">
    <wsdl:operation name="GetReportsByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbermanService/GetReportsByUserId" message="tns:IDobbermanService_GetReportsByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbermanService/GetReportsByUserIdResponse" message="tns:IDobbermanService_GetReportsByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportsByAuthorityId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbermanService/GetReportsByAuthorityId" message="tns:IDobbermanService_GetReportsByAuthorityId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbermanService/GetReportsByAuthorityIdResponse" message="tns:IDobbermanService_GetReportsByAuthorityId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReportsWithLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbermanService/GetAllReportsWithLocation" message="tns:IDobbermanService_GetAllReportsWithLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbermanService/GetAllReportsWithLocationResponse" message="tns:IDobbermanService_GetAllReportsWithLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthorities">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbermanService/GetAllAuthorities" message="tns:IDobbermanService_GetAllAuthorities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbermanService/GetAllAuthoritiesResponse" message="tns:IDobbermanService_GetAllAuthorities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSortedAuthorities">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbermanService/GetSortedAuthorities" message="tns:IDobbermanService_GetSortedAuthorities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbermanService/GetSortedAuthoritiesResponse" message="tns:IDobbermanService_GetSortedAuthorities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthoritiesByCategoryId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbermanService/GetAuthoritiesByCategoryId" message="tns:IDobbermanService_GetAuthoritiesByCategoryId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbermanService/GetAuthoritiesByCategoryIdResponse" message="tns:IDobbermanService_GetAuthoritiesByCategoryId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbermanService/GetAllCategories" message="tns:IDobbermanService_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbermanService/GetAllCategoriesResponse" message="tns:IDobbermanService_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbermanService/CreateNewReport" message="tns:IDobbermanService_CreateNewReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbermanService/CreateNewReportResponse" message="tns:IDobbermanService_CreateNewReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbermanService/CreateNewUser" message="tns:IDobbermanService_CreateNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbermanService/CreateNewUserResponse" message="tns:IDobbermanService_CreateNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewAuthority">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbermanService/CreateNewAuthority" message="tns:IDobbermanService_CreateNewAuthority_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbermanService/CreateNewAuthorityResponse" message="tns:IDobbermanService_CreateNewAuthority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbermanService/CreateNewCategory" message="tns:IDobbermanService_CreateNewCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbermanService/CreateNewCategoryResponse" message="tns:IDobbermanService_CreateNewCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDobbermanService" type="tns:IDobbermanService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReportsByUserId">
      <soap:operation soapAction="http://tempuri.org/IDobbermanService/GetReportsByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportsByAuthorityId">
      <soap:operation soapAction="http://tempuri.org/IDobbermanService/GetReportsByAuthorityId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReportsWithLocation">
      <soap:operation soapAction="http://tempuri.org/IDobbermanService/GetAllReportsWithLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthorities">
      <soap:operation soapAction="http://tempuri.org/IDobbermanService/GetAllAuthorities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSortedAuthorities">
      <soap:operation soapAction="http://tempuri.org/IDobbermanService/GetSortedAuthorities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthoritiesByCategoryId">
      <soap:operation soapAction="http://tempuri.org/IDobbermanService/GetAuthoritiesByCategoryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/IDobbermanService/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewReport">
      <soap:operation soapAction="http://tempuri.org/IDobbermanService/CreateNewReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser">
      <soap:operation soapAction="http://tempuri.org/IDobbermanService/CreateNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewAuthority">
      <soap:operation soapAction="http://tempuri.org/IDobbermanService/CreateNewAuthority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewCategory">
      <soap:operation soapAction="http://tempuri.org/IDobbermanService/CreateNewCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DobbermanService">
    <wsdl:port name="BasicHttpBinding_IDobbermanService" binding="tns:BasicHttpBinding_IDobbermanService">
      <soap:address location="http://dobberman.cloudapp.net/Services/DobbermanService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>