Dobberman.Phone/Service References/DobbermanService/DobbermanService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TAUP2C.Dobberman.WebRole.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TAUP2C.Dobberman.WebRole.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReport" nillable="true" type="tns:ArrayOfReport" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authority" nillable="true" type="tns:Authority" />
      <xs:element minOccurs="0" name="AuthorityId" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mood" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ReportId" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
  <xs:complexType name="Authority">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorityId" type="xs:int" />
      <xs:element minOccurs="0" name="FacebookPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reports" nillable="true" type="tns:ArrayOfReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Authority" nillable="true" type="tns:Authority" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Authority" nillable="true" type="tns:Authority" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthority" nillable="true" type="tns:ArrayOfAuthority" />
</xs:schema>